.navbar-nav .nav-link.active {
    background-color: black;
    color: red;
}
*:required {
    background-color: #fff3cd;
}
*:required:after {
    content:" *";
    color: red;
  }
  .card-img, .card-img-top {
      max-height: 150px;
      width: auto;
  }
  
  #b{
      background-color: #333;
      color:white;
      text-align: center;
  }
  
  #rolunk{
      text-align: center;
      margin-top: 100px;
      margin-left: 200px;
      margin-right: 200px;
  }
  
  .button{
      text-align: center;
      color: red;
  }
  
  #a{
      margin-bottom: 100px;
  }
  
 